/* layout */
body {
	color: #444;
	background: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Georgia, serif;
}

#container {
	margin: 0 auto;
	padding: 2em;
	text-align: left;
	max-width: 700px;
}

/* general formatting */

a:link { color: #516170; text-decoration: none; }
a:visited { color: #314150; text-decoration: none; }
a:hover { color: #2a3037; text-decoration: underline; }
a:active { color: #343b44; text-decoration: underline; }

p, li { line-height: 150%; text-align: justify; }
img {
    border: 0;
    margin: 0.5em;
    margin-top: 2em;
	max-width: 720px;
}

/* header */

h1 {
	font-family: Bembo, Bergamo Std, Cardo, Georgia, serif;
    font-weight: 400;
    font-size: 2em;
    font-style: italic;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*#header h1#top {
	color: #aaaaaa;
	font-family: Bembo, PT Serif, Georgia, serif;
	font-size: 1em;
    font-weight: 400;
    font-style: none;
    text-transform: uppercase;
}*/

#home #header h1 {
    color: #444444;
	font-family: Bembo, Bergamo Std, Cardo, Georgia, serif;
    font-size: 3em;
	font-weight: 400;
    font-style: italic;
	text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#home table tr td:first-child {
	width: 60%;
}

body#home #header p {
	margin: 0;
}

h2, h3, h4 {
    font-family: Georgia, serif;
    font-style: none;
	font-weight: normal;
}

h2 { font-size: 1.5em; margin: 1.5em 0 0 0; }
h3 { font-size: 1.25em; }

pre, code {
    font-family: Vera Sans Mono, Andale Mono, Consolas, monospace;
    font-size: 0.9em;
}

pre {
	background: #ffffff;
	padding: 0.5em 0.5em 0.5em 1em;
	border: 1px #dfdfdf solid;
}

ul {
        list-style-type: square;
}

#footer {
	clear: both;
	float: left;
	margin-top: 2em;
    font-size: 0.75em;
}

/* blog */

ol#pagelist {
	margin: 1em 0;
	padding: 0;
}

ol#pagelist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.index {
    padding-right: 1em;
}

.date {
    font-size: 0.9em;
    /*padding-left: 1em;*/
    /*color: #aaaaaa;*/
}

#post .metadata {
    color: #333;
}

/* galleries */

body#gallery #container { width: auto; max-width: 100%; }
body#gallery img { margin: 0.5em; float: none; }

/* other */
span#apply {
        text-decoration: line-through;
        color: #ff00ff;
}

/* footnotes */
div.footnotes {
    font-size: 0.8em;
}

div.footnotes a {
    padding-left: 5px;
}

/* tables */
table {
    width: 100%;
}

table#genutiv {
    font-size: 0.9em;
    border-collapse: collapse;  /* Single border */
    border-bottom: 1px solid #aaaaaa;
    margin-top: 30px;
}

th, td {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}

th {
    font-weight: bold;
    /*padding-bottom: 10px;*/
    border-bottom: 1px solid #aaaaaa;
}

tfoot {
    color: #aaaaaa;
    font-size: 0.6em;
    font-family: Georgia, sans-serif;
}

blockquote {
    font-style: italic;
}

