<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"$if(lang)$ lang="$lang$" xml:lang="$lang$"$endif$>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="date" content="$date-meta$" />
$endif$
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" $if(html5)$$else$type="text/css" $endif$/>
$endfor$
</head>
<body id="home">
<div id="header">
    <h1>Contents</h1>
</div>
<div id="container">
    <table>
        <thead>
            <tr>
                <th align="left">Title</th>
                <th align="left">Creation date</th>
            </tr>
        </thead>
        <tbody>
            $for(post)$<tr>
                <td align="left"><a href="$post.file$">$post.title$</a></td>
                <td align="left">$post.birth$</td>
            </tr>
            $endfor$
        </tbody>
    </table>
</div>
</body>
</html>
